@page
@model cpsbank.Pages.Clients.EditModel

<h2>Edit Client</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Client.FirstName"></label>
        <input asp-for="Client.FirstName" class="form-control" />
        <span asp-validation-for="Client.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.LastName"></label>
        <input asp-for="Client.LastName" class="form-control" />
        <span asp-validation-for="Client.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.Email"></label>
        <input asp-for="Client.Email" class="form-control" />
        <span asp-validation-for="Client.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.PhoneNumber"></label>
        <input asp-for="Client.PhoneNumber" class="form-control" />
        <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.DateOfBirth"></label>
        <input asp-for="Client.DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="Client.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.AccountNumber"></label>
        <input asp-for="Client.AccountNumber" class="form-control" />

